/*  {
    margin: 0;
    padding: 0;
}*/

body {
background-color: #1695a3;
color:#FFFFFF;
}

p {
  color: #eb7f00;
  font-size: 40px;
  font-weight: bold;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

